[submodule "tools/nv-codec-headers"]
	path = tools/nv-codec-headers
	url = https://git.videolan.org/git/ffmpeg/nv-codec-headers.git
[submodule "tools/gas-preprocessor"]
	path = tools/gas-preprocessor
	url = https://github.com/FFmpeg/gas-preprocessor.git
